<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acme.one.permssampleclient" >

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.acme.one.permission.GET_MIN_TGT_SDK" />
    <uses-permission android:name="com.acme.one.permission.NOTIFY_MIN_TGT_SDK" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/app_launcher_icon"
        android:supportsRtl="true"
        android:allowBackup="false">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
